body {
  background-color: #fff;
  color: #000000;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #000
}

h6{
  text-align: center;
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #444;
}

th {
  background-color: #333;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #000;
}

tr:hover {
  background-color: #000;
}